.btn-download {
  margin-top: 6px;
}

.row-border {
  margin-top: 5px;
  margin-bottom: 10px;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
}

.row-border .lead {
  margin-bottom: 0;
  padding: 8px 0;
}

.section-name1 {
  background: #3b5998;
}

.section-name {
  background: #8b9dc3;
}

.section-name h3 {
  margin-top: 10px;
}

.my-photo {
  width: 200px;
  border: solid 1px #000;
}

.progress-bar {
  color: #3b5998;
}






.section-personal-date {
  margin-top: 10px;
}
